In [8]:
#STAGE 1 CREATE MASTER DATABASE


#to begin we need to import all the csv files 
#will have all the promblatic observations, we need to save this dataset as a python file 
#need to run the code below in jupter notebook

In [9]:
import pandas as pd

In [10]:
year1 = []
month = []
for j in (2017, 2018):
    for i in range(1,13) : 
        dataFile1 = pd.read_csv("dataset/ONS price spreadsheets csv/price_quote_%d_%02d.csv" %(j, i))
        month.append(dataFile1) #this will append after every cycle
        
        print("dataset/ONS price spreadsheets csv/price_quote_%d_%02d.csv" %(j, i)) #this checks that the logic for the above is correct.

dataset/ONS price spreadsheets csv/price_quote_2017_01.csv
dataset/ONS price spreadsheets csv/price_quote_2017_02.csv
dataset/ONS price spreadsheets csv/price_quote_2017_03.csv
dataset/ONS price spreadsheets csv/price_quote_2017_04.csv
dataset/ONS price spreadsheets csv/price_quote_2017_05.csv
dataset/ONS price spreadsheets csv/price_quote_2017_06.csv
dataset/ONS price spreadsheets csv/price_quote_2017_07.csv
dataset/ONS price spreadsheets csv/price_quote_2017_08.csv
dataset/ONS price spreadsheets csv/price_quote_2017_09.csv
dataset/ONS price spreadsheets csv/price_quote_2017_10.csv
dataset/ONS price spreadsheets csv/price_quote_2017_11.csv
dataset/ONS price spreadsheets csv/price_quote_2017_12.csv
dataset/ONS price spreadsheets csv/price_quote_2018_01.csv
dataset/ONS price spreadsheets csv/price_quote_2018_02.csv
dataset/ONS price spreadsheets csv/price_quote_2018_03.csv
dataset/ONS price spreadsheets csv/price_quote_2018_04.csv
dataset/ONS price spreadsheets csv/price_quote_2018_05.csv
dataset/ONS price spreadsheets csv/price_quote_2018_06.csv
dataset/ONS price spreadsheets csv/price_quote_2018_07.csv
dataset/ONS price spreadsheets csv/price_quote_2018_08.csv
dataset/ONS price spreadsheets csv/price_quote_2018_09.csv
dataset/ONS price spreadsheets csv/price_quote_2018_10.csv
dataset/ONS price spreadsheets csv/price_quote_2018_11.csv
dataset/ONS price spreadsheets csv/price_quote_2018_12.csv

In [11]:
master1 = pd.concat(month)

In [12]:
master1.head(5)

,QUOTE_DATE,ITEM_ID,ITEM_DESC,VALIDITY,SHOP_CODE,PRICE,INDICATOR_BOX,ORIG_INDICATOR_BOX,PRICE_RELATIVE,LOG_PRICE_RELATIVE,STRATUM_WEIGHT,STRATUM_TYPE,START_DATE,END_DATE,REGION,SHOP_TYPE,SHOP_WEIGHT,BASE_PRICE,BASE_VALIDITY,STRATUM_CELL
0,201701,210102,LARGE LOAF-WHITE-UNSLICED-800G,1,7,0.0,M,M,0.0,0.0,9.29,1,201602,999999,7,1,1,1.400,3,7
1,201701,210102,LARGE LOAF-WHITE-UNSLICED-800G,1,11,0.0,T,T,0.0,0.0,12.74,1,201602,999999,3,1,1,1.000,3,3
2,201701,210102,LARGE LOAF-WHITE-UNSLICED-800G,1,27,0.0,T,T,0.0,0.0,11.77,1,201603,999999,9,1,1,1.390,4,9
3,201701,210102,LARGE LOAF-WHITE-UNSLICED-800G,1,43,0.0,M,M,0.0,0.0,9.14,1,201603,999999,5,1,1,1.645,4,5
4,201701,210102,LARGE LOAF-WHITE-UNSLICED-800G,1,45,0.0,T,T,0.0,0.0,10.84,1,201602,999999,2,2,1,1.500,3,2

In [13]:
year2 = []
quarter = []
for j in range(1996, 2017):
    for i in range(1,5) : 
        dataFile2 = pd.read_csv("dataset/ONS price spreadsheets csv/price_quote_%d_q%d.csv" %(j, i), low_memory=False)
        quarter.append(dataFile2) #this will append after every cycle
        #note DtypeWarning: Columns (5,6) have mixed types hence low_memory=False
        
        print("dataset/ONS price spreadsheets csv/price_quote_%d_q%d.csv" %(j, i)) #this checks that the logic for the above is correct.

dataset/ONS price spreadsheets csv/price_quote_1996_q1.csv
dataset/ONS price spreadsheets csv/price_quote_1996_q2.csv
dataset/ONS price spreadsheets csv/price_quote_1996_q3.csv
dataset/ONS price spreadsheets csv/price_quote_1996_q4.csv
dataset/ONS price spreadsheets csv/price_quote_1997_q1.csv
dataset/ONS price spreadsheets csv/price_quote_1997_q2.csv
dataset/ONS price spreadsheets csv/price_quote_1997_q3.csv
dataset/ONS price spreadsheets csv/price_quote_1997_q4.csv
dataset/ONS price spreadsheets csv/price_quote_1998_q1.csv
dataset/ONS price spreadsheets csv/price_quote_1998_q2.csv
dataset/ONS price spreadsheets csv/price_quote_1998_q3.csv
dataset/ONS price spreadsheets csv/price_quote_1998_q4.csv
dataset/ONS price spreadsheets csv/price_quote_1999_q1.csv
dataset/ONS price spreadsheets csv/price_quote_1999_q2.csv
dataset/ONS price spreadsheets csv/price_quote_1999_q3.csv
dataset/ONS price spreadsheets csv/price_quote_1999_q4.csv
dataset/ONS price spreadsheets csv/price_quote_2000_q1.csv
dataset/ONS price spreadsheets csv/price_quote_2000_q2.csv
dataset/ONS price spreadsheets csv/price_quote_2000_q3.csv
dataset/ONS price spreadsheets csv/price_quote_2000_q4.csv
dataset/ONS price spreadsheets csv/price_quote_2001_q1.csv
dataset/ONS price spreadsheets csv/price_quote_2001_q2.csv
dataset/ONS price spreadsheets csv/price_quote_2001_q3.csv
dataset/ONS price spreadsheets csv/price_quote_2001_q4.csv
dataset/ONS price spreadsheets csv/price_quote_2002_q1.csv
dataset/ONS price spreadsheets csv/price_quote_2002_q2.csv
dataset/ONS price spreadsheets csv/price_quote_2002_q3.csv
dataset/ONS price spreadsheets csv/price_quote_2002_q4.csv
dataset/ONS price spreadsheets csv/price_quote_2003_q1.csv
dataset/ONS price spreadsheets csv/price_quote_2003_q2.csv
dataset/ONS price spreadsheets csv/price_quote_2003_q3.csv
dataset/ONS price spreadsheets csv/price_quote_2003_q4.csv
dataset/ONS price spreadsheets csv/price_quote_2004_q1.csv
dataset/ONS price spreadsheets csv/price_quote_2004_q2.csv
dataset/ONS price spreadsheets csv/price_quote_2004_q3.csv
dataset/ONS price spreadsheets csv/price_quote_2004_q4.csv
dataset/ONS price spreadsheets csv/price_quote_2005_q1.csv
dataset/ONS price spreadsheets csv/price_quote_2005_q2.csv
dataset/ONS price spreadsheets csv/price_quote_2005_q3.csv
dataset/ONS price spreadsheets csv/price_quote_2005_q4.csv
dataset/ONS price spreadsheets csv/price_quote_2006_q1.csv
dataset/ONS price spreadsheets csv/price_quote_2006_q2.csv
dataset/ONS price spreadsheets csv/price_quote_2006_q3.csv
dataset/ONS price spreadsheets csv/price_quote_2006_q4.csv
dataset/ONS price spreadsheets csv/price_quote_2007_q1.csv
dataset/ONS price spreadsheets csv/price_quote_2007_q2.csv
dataset/ONS price spreadsheets csv/price_quote_2007_q3.csv
dataset/ONS price spreadsheets csv/price_quote_2007_q4.csv
dataset/ONS price spreadsheets csv/price_quote_2008_q1.csv
dataset/ONS price spreadsheets csv/price_quote_2008_q2.csv
dataset/ONS price spreadsheets csv/price_quote_2008_q3.csv
dataset/ONS price spreadsheets csv/price_quote_2008_q4.csv
dataset/ONS price spreadsheets csv/price_quote_2009_q1.csv
dataset/ONS price spreadsheets csv/price_quote_2009_q2.csv
dataset/ONS price spreadsheets csv/price_quote_2009_q3.csv
dataset/ONS price spreadsheets csv/price_quote_2009_q4.csv
dataset/ONS price spreadsheets csv/price_quote_2010_q1.csv
dataset/ONS price spreadsheets csv/price_quote_2010_q2.csv
dataset/ONS price spreadsheets csv/price_quote_2010_q3.csv
dataset/ONS price spreadsheets csv/price_quote_2010_q4.csv
dataset/ONS price spreadsheets csv/price_quote_2011_q1.csv
dataset/ONS price spreadsheets csv/price_quote_2011_q2.csv
dataset/ONS price spreadsheets csv/price_quote_2011_q3.csv
dataset/ONS price spreadsheets csv/price_quote_2011_q4.csv
dataset/ONS price spreadsheets csv/price_quote_2012_q1.csv
dataset/ONS price spreadsheets csv/price_quote_2012_q2.csv
dataset/ONS price spreadsheets csv/price_quote_2012_q3.csv
dataset/ONS price spreadsheets csv/price_quote_2012_q4.csv
dataset/ONS price spreadsheets csv/price_quote_2013_q1.csv
dataset/ONS price spreadsheets csv/price_quote_2013_q2.csv
dataset/ONS price spreadsheets csv/price_quote_2013_q3.csv
dataset/ONS price spreadsheets csv/price_quote_2013_q4.csv
dataset/ONS price spreadsheets csv/price_quote_2014_q1.csv
dataset/ONS price spreadsheets csv/price_quote_2014_q2.csv
dataset/ONS price spreadsheets csv/price_quote_2014_q3.csv
dataset/ONS price spreadsheets csv/price_quote_2014_q4.csv
dataset/ONS price spreadsheets csv/price_quote_2015_q1.csv
dataset/ONS price spreadsheets csv/price_quote_2015_q2.csv
dataset/ONS price spreadsheets csv/price_quote_2015_q3.csv
dataset/ONS price spreadsheets csv/price_quote_2015_q4.csv
dataset/ONS price spreadsheets csv/price_quote_2016_q1.csv
dataset/ONS price spreadsheets csv/price_quote_2016_q2.csv
dataset/ONS price spreadsheets csv/price_quote_2016_q3.csv
dataset/ONS price spreadsheets csv/price_quote_2016_q4.csv

In [15]:
master2 = pd.concat(quarter, sort=False)

In [21]:
master.append([master2, master1], sort=False)

AttributeError: module 'pandas' has no attribute 'append'